<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress">

  <div id="overview" class="step" data-x="0" data-y="0" data-scale="10">
    <div class="name">
      Travis Elnicky
    </div>
  </div>

  <div id="hello" class="step" data-x="-2200" data-y="0" data-rotate="-90">
    <p>Hello, my name is Travis</p>
  </div>

  <div id="code" class="step" data-x="-1000" data-y="-150">
    <p>I like to code</p>
  </div>

  <div id="dilf" class="step" data-x="1000" data-y="300">
    <p>and play disc golf.</p>
  </div>

  <div id="school" class="step" data-x="800" data-y="-200" data-z="-500">
    <p>I am studying Computer Engineering at the University of Utah</p>
  </div>

</div>